# Fill in the following ENV vars

OPENAI_API_KEY="INSERT OPENAI KEY"
ARTHUR_BASE_URL="https://some.arthur.engine"
ARTHUR_API_KEY="INSERT API KEY"
ARTHUR_TASK_ID="INSERT TASK ID"

# Enable guardrails for the executeSql tool
ARTHUR_GUARDRAILS_ENABLED=false

# Simulate hallucination for the executeSql tool to test the guardrail implementation
SIMULATE_HALLUCINATION=false